<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sh.gupta5/IdeaProjects/seleniumproject">

        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="sample.TestNG1">

            </class>
            <class name="sample.TestNG2">

            </class>
        </classes>
    </test>
</suite>